<div class="flex-column align-items-center mt-2rem">
  <div style="font-size: large; font-weight: bold;">
    Color Palette Editor
  </div>
  <br><br><br>
  
  <div class="flex-row justify-content-center flex-wrap gap-1rem">
    @for (item of colorPalette(); track item.variation;) {
      <div class="color-box flex-column align-items-center gap-1rem">

        <ng-template #hexValue>
          @if (item.isCopied) {
            <div 
              class="color-hex-value copied flex-row user-select-none" 
              (click)="$event.stopPropagation()"
            >Copied!</div>
          } 
          @else if(item.resolvedValue) {
            <div
              class="color-hex-value flex-row" 
              (click)="copyColor(item.resolvedValue, $index); $event.stopPropagation()"
            >{{ item.resolvedValue }}</div>
          }
        </ng-template>
        
        @if (item.variation == "brand color") {
          <div 
            class="brand-color-box box" 
            [style.background-color]="item.color"
            (click)="openColorPicker(colorInput)"
          >
            <input
              #colorInput
              class="color-input-anchor"
              type="color"
              [value]="brandColor()"
              (input)="updateBrandColor($event)"
            />

            <ng-container [ngTemplateOutlet]="hexValue"></ng-container>
          </div>
        }
        
        @else {
          <div class="box" [style.background-color]="item.color">
            <ng-container [ngTemplateOutlet]="hexValue"></ng-container>
          </div>
        }
        
        <pre class="user-select-none">{{item.variation}}</pre>
      </div>
    }
  </div>

  <br><br>
  <button class="btn" (click)="toggleTheme()">
    toggle theme [<b>{{ mode() }}] </b>
  </button>
  <br><br><br><br>
  Color Palette Usage Example 👇
  <br><br>
  <app-dialog></app-dialog>
  <br>
</div>
<router-outlet />