.box {
  height: 100px;
  width: 100px;
  position: relative;
}


.brand-color-box{
  cursor: pointer;
  box-shadow: 3px 3px var(--stroke-weak);
  transform: translateX(-3px) translateY(-3px);
  position: relative; 

  &:hover {
    box-shadow: 4px 4px var(--stroke-weak);
    transform: translateX(-4px) translateY(-4px);
  }
}


.color-hex-value {
  color: white;
  background-color: rgba(90, 90, 90, 0.45);
  cursor: pointer;
  display: none;
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  text-align: center;
  margin: 10px;
  padding: 4px 6px;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

.color-box:hover {
  .color-hex-value {
    display: block;
  } 
}

.color-hex-value.copied {
  display: block;
}

.color-input-anchor {
  position: absolute;
  
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
  opacity: 0;
  width: 0;   
  height: 0;
}